body {
  background-color: rgb(211,211,211);
}
h1, h2, h3, h4, h5, h6 {
  color: 669999;
  text-align: center;
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
p {
  color: 669999;
  text-align:center;
  font-size: 15px;
}
table, th, td {
    border: 1px solid black;
}
img {
  margin: 50px;
  border-style: solid;
  border-color: black;
}
